BASIC_AUTH_USERNAME=user
BASIC_AUTH_PASSWORD=pass
ZOHO_CLIENT_ID=1.F
ZOHO_CLIENT_SECRET=4...5
ZOHO_REDIRECT_URI=https://tecla-zoho.mydomain.com/zoho_return
ZOHO_SCOPE=AaaServer.profile.READ,ZohoCalendar.calendar.READ,ZohoCalendar.event.ALL
PORT=3002
